
:root{
    --cor-primaria: #0077b6;
    --cor_secundaria:#023e8a;
    --cor-fundo: #f4f4f4;
    --espacamento: 1.25rem;
    --cor-texto:#333;
    --borda-aredondamento: 0.625rem;
    --color:white;
    
    *{
        margin: 0;
        padding: 0;
        box-sizing:boirder-box;
    }
    
    body {
    
        font-family: Arial, Helvetica, sans-serif;
        color: var(--cor-texto);
        text-align: center;
    }
    
    header {
      background-color: var(--cor-primaria);
      color: var(--color);
      padding: : var(var(--espacamento));
    
    }
    
    nav ul{
        display: flex;
        list-style: none;
        justify-content: center;
        gap: var(--espacamento);
        margin-top: 0.5rem;
          
    }
    
    nav a{
    text-decoration: none;
    color: var(--color);
    font-weight: bold;
    }
    
    nav a:hover{
        text-decoration: underline;
    }
    
    .banner {
        background-color: var(--cor_secundaria);
        color: var(--color);
        padding: 2rem;
        margin-top: var(--espacamento);
        }
    
    #palestrantes{
        padding: var(--espacamento);
    }
    
    .container{
    display:  flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--espacamento);
    margin-top: var(--espacamento);
    
    }
    .card {
        background-color: white;
        border-radius: var(--borda-aredondamento);
        padding: var(--espacamento);
        width: 15rem;
        text-align: center;
        box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
        }
    
    .card img{
        width: 100%;
        height: 14rem;
        object-fit: cover;
        border-radius: var(--borda-aredondamento);
    }
    
    #inscricao{
        background-color: var(--cor-primaria);
        color: var(--color);
        padding: 2rem;
        margin-top: var(--espacamento);
        }
    
    #inscricao button{
        margin-top: var(--espacamento);
        background-color: white;
        color: var(--cor-primaria);
        border: none;
        padding: 0.75rem 1.5rem;
        font-size: 1.2rem;
        border-radius: var(--borda-aredondamento);
        cursor: pointer;
        font-weight: bold;
    }
    
    #inscricao button:hover{
    background-color: var(--borda-aredondamento);
    color: white;
    
    }
    
    footer{
        background-color: var(--cor-primaria);
        color:white;
        padding: var(--espacamento);
        margin-top: var(--espacamento);
    }
    
    
    
    }
    
    
    
    
    
