*{
    margin: 0; /* Remove todas as margens */
    padding: 0; /* Remove todo o preenchimento */
    box-sizing: border-box; /* Inclui bordas e preenchimento para calcular o tamanho */
}

.grid-container{
      display:grid;
      grid-template-columns: 46rem 46rem;  
      margin-top: 5rem;    
  
}
     
.grid-item{

    background-color:white;
    padding: 8 rem;
    text-align:center;       
    line-height: 2rem; 
    border-radius: 0.5rem;            
}


.grid-item
 img {
    border: 0.063rem solid #ddd;
    width: 24,163rem;
    height: 28rem;
    border-radius: 1rem;     
    }

    .grid-item
 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    width: 40rem;    
    text-align: left;    
    font-size: 3.8rem;
    line-height: 4rem;
    padding: 2rem;
    }

    
    .grid-item
 p{    
    width: 48rem;
    /* border-radius: 0.5rem; */
    text-align: left; 
    word-wrap: break-word;
    position: relative;
    font-size: 1.40rem;
    padding:  2rem;
    }

  
    
    
